*{
    margin: 0;
    padding: 0;
}

#preloader{
    background: #3A0622 url(Load.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}